@font-face {
	font-family: 'Roboto';
	src: url('../binding/fonts/Roboto-Light.ttf');
  src: url('../binding/fonts/Roboto-Medium.ttf');
  src: url('../binding/fonts/Roboto-Regular.ttf');

  font-family: 'ChronicleDeck';
  src: url('../binding/fonts/ChronicleDeck-Roman.otf');
  src: url('../binding/fonts/ChronicleDeck-Italic.otf');
  src: url('../binding/fonts/ChronicleDeck-Semitalic.otf');

  font-family: 'BigShouldersDisplay';
  src: url('../binding/fonts/BigShouldersDisplay-VariableFont_wght.ttf');

  font-family: 'CormorantGaramond';
  src: url('../binding/fonts/CormorantGaramond-SemiBoldItalic.ttf');
}

body{
color: white;
background-color: #000000;
}

.grid {
  color: #FFF;
  font-family: Big Shoulders Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  padding-left: 15%;}

.type{
  color: #FFF;
  font-family: Chronicle Deck;
  font-size: 60px;
  font-weight: 325;
  line-height: 50px;
  padding-left: 15%;
}

.color{
  color: #FFF;
  font-family: Cormorant Garamond;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 50px;
  padding-left: 10%;
}

p{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 90%;
padding-left: 10%;
padding-bottom: 2%;
padding-top: 1px;
max-width: 950px;
}


@media screen and (max-width: 800px) {
  p{
    padding-bottom: 5%;}
}

.subhead{
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 600;
letter-spacing: 2.7px;
padding-bottom: 2%;
text-transform: uppercase;
padding-top: 100px;
}

@media screen and (max-width: 800px) {
  .subhead{
    padding-bottom: 5%;}
}

.pdbig{
  font-family: Roboto;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 12px;
  text-transform: uppercase;
  line-height: normal;
  padding-top: 10%;
  background: linear-gradient(
        to right,
        #ffe8c2 30%,
        #000000 70%,
        #1A433C 80%
    );
    
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

@media screen and (max-width: 800px) {
  .pdbig{
    font-size: 40px;
    letter-spacing: 8.32px;}
}


.ofbig{
  font-family: Chronicle Deck;
  font-size: 80px;
  font-style: italic;
  font-weight: 375;
  text-transform: lowercase;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 800px) {
  .ofbig{
    font-size: 40px;}
}

.chaptersec{
  padding-top: 100px;
  padding-bottom: 100px;
}

/*chapter cards*/
.chaptersec{
  display: flex;
  overflow-y: scroll;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-right: 50px;
  padding-left: 7%;}

  @media screen and (max-width: 800px) {
    .chaptersec{
      padding-left: 2%;}

    .topiccard1{
      margin-left: 20px;}
  }

.topiccard1{
  display:inline-block;
  min-width: 232px;
  height: 376px;
  background-color:  #1A433C;
  border-radius: 4px;
  position: relative;
  margin-left: 40px;
}

.topiccard1:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.line{
  width: 100%;
  height: 20px;
  position: absolute;
  background: white;
  opacity: 60%;
  margin-top: 50px;
}

.line.vertical {
  width: 20px;
  height: 100%;
  margin-top: 0;
  margin-left: 140px;
}

.topic1{
  color: #FFF;  
  font-family: Big Shoulders Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  margin-top: 320px;
}

.word{
  position: absolute;
  opacity: 60%;
  margin-left: -15px;
  margin-top: 5px;
  color: #FFF;
  font-family: Chronicle Deck;
  font-size: 169.555px;
  font-style: italic;
  font-weight: 325;
}

.topic2{
  color: #FFF;  
  font-family: Chronicle Deck;
  font-size: 45px;
  font-style: normal;
  font-weight: 325;
  margin-top: 320px;
}

.topic3{
  color: #FFF;  
  font-family: Cormorant Garamond;
  font-size: 45px;
  font-style: italic;
  font-weight: 600;
  margin-top: 320px;
}

.block{
  display: inline-flex;
  position: absolute;
  margin-top: 5%;
  width: 55px;
  height: 85px;
  background: white;
  border-radius: 5px;
}

.block.block1{
  margin-left: 20px;
  opacity: 80%;
}

.block.block2{
  margin-left: 85px;
  opacity: 60%;
}

.block.block3{
  margin-left: 150px;
  opacity: 40%;
}

.group1{
  margin-top: 5%;
}

.group2{
  margin-top: 46%;
}

.topcard{
  padding-top: 8%;
  padding-bottom: 4%;
}

@media screen and (max-width: 800px) {
  .topcard{
    padding-top: 8%;
    padding-bottom: 8%;}
}

svg {fill: currentColor;
  font-family: Cormorant Garamond;
  height: auto;
  max-width: 15vmin;
  transform-origin: center;
  width: 15%;
  margin-bottom: 100px;
  animation: rotate 5s linear infinite;}

@keyframes rotate {from {transform: rotate(0deg);}
to {transform: rotate(360deg);}}

